{% extends 'layout.html.twig' %}
{% block title %} User {% endblock %}
{% block content %}

    <strong> Username: {{ user.getUsername() }}</strong>
    <h3> Name: {{ user.getName() }}</h3>
    <h3> Email: {{ user.getEmail() }}</h3>
    <h3> Contact Info: {{ user.getPhone() }}</h3>

    <div>
        {% for post in articles %}
            <img class ="w-40% p-1" src="{{ post.getImageURL() }}" alt="{{ post.getName() }}">
            <strong> Author: {{ post.getAuthor().getName() }}</strong>
            <h3> Title: {{ post.getTitle() }}</h3>
            <h3> Description: {{ post.getBody() }}</h3>
        {% endfor %}
    </div>

{% endblock %}